:root {
  --mainColor: #606b56;
  --secondaryColor: #515a48;

  --borderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;

  --buttonColor: #669966;
}
body {
  background-color: var(--mainColor);
}

.icon-box {
  color: #fff;
}
.icon-box a {
  color: orange;
}

.about h3 {
  color: #fff;
}

.about p {
  color: #fff;
}
.work {
  color: #fff;
}

.work p {
  color: #fff;
}
.skills {
  color: black;
}

.skills li {
  color: #fff;
}
